<div class="row">
  <div class=>
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <br>
        <%= @user.email %>
        <br>
        <%= render 'shared/event_form' %>
      </h1>
    </section>
  </aside>
  </div>
</div>
