<h1>Event Description</h1>

<h3> 
<%= @event.description %>
</h3>

<h1>Creator</h1>

<h3> 
<%= @creator.name %>
</h3>

<h2>Attendees:</h2>

<% @atendee_z.each do |x|%>
  <li><%= x %></li>
  <% end%>
</div>