<h1>Event Description</h1>

<h3> 
<%= @event.description %>
</h3>

<h1>Creator</h1>

<h3> 
<%= @creator.name %>
</h3>

<h2>Attendees:</h2>
<% @event.event_attendance.each do |atendee| %>
  <%= User.find_by(id: atendee.attendee).name %><br>
<% end %>
</div>