@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color:#777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.header-info {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
  
  .navbar-nav li a {
      color: black;
      list-style: none;
  
  }
  
  .nav > li > a:hover {
      background-color: rgb(117, 179, 190)
  }

  .bg-primary {
    background-color: #4beb2c;
}
  
