<header class="navbar navbar-fixed-top navbar-dark bg-primary">
  <div class="container">
    <%= link_to "Private events", root_path, class: "header-info" %>
    <nav>
      <ul class="nav navbar-nav navbar-right ">
          <li><%= link_to "Login", root_path %></li>
      </ul>
    </nav>
  </div>
</header>